@import '../variables/variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Heebo, Arial, sans-serif;
}

.container {
	margin: 0 auto;
	max-width: $desctope-width;
}

.content-container {
	margin: 0 auto;
	max-width: $content-desctope-width;
}

.blog-container {
	margin: 0 auto;
	max-width: $cblog-content-desctope-width;
}

.visually-hidden {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	clip: rect(0 0 0 0);
}
