.featured-works {
	width: 100%;
	background-color: var(--bg);
	padding: 30px var(--safe-side-paddings);
}

.featured-works__wrap {
}

.featured-works__title {
	font-family: var(--basic-font);
	color: var(--primary-text);
}
