@import '../../variables/variables.scss';

.recent-posts {
	width: 100%;
	background-color: var(--second-bg);
	padding: 30px var(--safe-side-paddings) 40px var(--safe-side-paddings);
}

.recent-posts__wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content 1fr;
	grid-template-areas:
		'title link'
		'postslist postslist';
	gap: 20px;
}

.recent-posts__title {
	grid-area: title;
	align-self: center;
	font-family: var(--basic-font);
	color: var(--primary-text);
	font-size: var(--s-title-size);
	font-weight: var(--s-title-weight);
}

.recent-posts__all-posts-link {
	grid-area: link;
	justify-self: flex-end;
	align-self: center;

	color: var(--link-text);
	font-family: var(--basic-font);
	font-size: var(--s-text-size);
	font-weight: var(--s-text-weight);
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.recent-posts__list {
	grid-area: postslist;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;

	@media (max-width: $tablet-width) {
		grid-template-columns: 1fr;
	}
}

.recent-posts__item {
	list-style: none;
}
