@import '../../variables/variables';

.featured-works {
	padding: 30px var(--safe-side-paddings);
	width: 100%;
	background-color: var(--bg);
}

.featured-works__wrap {
	display: grid;
	grid-template-areas:
		'title link'
		'worksList worksList';
	grid-template-columns: 1fr 1fr;
	grid-template-rows: min-content 1fr;
	gap: 20px;
}

.featured-works__title {
	grid-area: title;
	font-family: var(--basic-font);
	font-weight: var(--s-title-weight);
	font-size: var(--s-title-size);
	color: var(--primary-text);
}

.featured-works__items {
	grid-area: worksList;
}
