.article-paragraph {
	font-family: var(--article-paragraph-font);
	font-weight: var(--l-text-weight);
	font-size: var(--l-text-size);
	line-height: var(--l-text-line-height);
	color: var(--primary-text);
}

.article-title {
	font-family: var(--article-title-font);
	font-weight: var(--xl-title-weight);
	font-size: var(--xl-title-size);
	color: var(--primary-text);
}

.article-preview-card-paragraph {
	font-family: var(--article-paragraph-font);
	font-weight: var(--m-text-weight);
	font-size: var(--m-text-size);
	line-height: var(--m-text-line-height);
	color: var(--primary-text);
}

.article-preview-card-title {
	font-family: var(--article-title-font);
	font-weight: var(--m-title-weight);
	font-size: var(--m-title-size);
	color: var(--primary-text);
}
