$desctope-width: 1100px;
$tablet-width: 800px;
$mobile-width: 600px;

$content-desctope-width: 1000px;

:root {
	/* sizes variables */
	--safe-side-paddings: 20px;

	/* fonts variables */
	--basic-font: heebo, arial, sans-serif;

	--xs-text-size: 14px;
	--xs-text-weight: 400;
	--s-text-size: 16px;
	--s-text-weight: 400;
	--m-text-size: 18px;
	--m-text-weight: 400;
	--l-text-size: 20px;
	--l-text-weight: 400;
	--l-fat-text-size: 20px;
	--l-fat-text-weight: 500;

	--s-title-size: 22px;
	--s-title-weight: 400;
	--m-title-size: 26px;
	--m-title-weight: 700;
	--l-title-size: 30px;
	--l-title-weight: 700;
	--xxl-title-size: 44px;
	--xxl-title-weight: 700;
}
