$desctope-width: 1200px;
$tablet-width: 900px;
$smobile-width: 600px;

:root {
	/* sizes variables*/
	--safe-side-paddings: 20px;
	/* fonts variables */
	--basci-font: Heebo, Arial, sans-serif;

	--nav-link-size: 20px;
	--nav-link-weight: 500;
}
