.blog-post {
	position: relative;
	display: grid;
	grid-template-areas:
		'title title'
		'time tags'
		'overview overview';
	grid-template-columns: max-content 1fr;
	grid-template-rows: min-content min-content 1fr;
	padding: 24px 0;
	width: 100%;
	height: 100%;
	gap: 17px;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		bottom: -1px;
		width: 100%;
		height: 2px;
		background-color: var(--decor-color);
	}
}

.blog-post__title {
	grid-area: title;
	font-family: var(--basic-font);
	font-weight: var(--l-title-slim-weight);
	font-size: var(--l-title-slim-size);
	color: var(--primary-text);
}

.blog-post__date {
	grid-area: time;
	font-family: var(--basic-font);
	font-weight: var(--l-text-weight);
	font-size: var(--l-text-size);
	color: var(--primary-text);
}

.blog-post__tags {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	grid-area: tags;
	list-style: none;
	gap: 10px;
}

.blog-post__tag {
	position: relative;
	font-family: var(--basic-font);
	font-weight: var(--l-text-weight);
	font-size: var(--l-text-size);
	color: var(--secondary-text);

	&:not(:last-child)::after {
		content: ',';
		position: absolute;
		right: -5px;
		bottom: 0;
		width: max-content;
		height: max-content;
	}
}

.blog-post__overview {
	grid-area: overview;
	font-family: var(--basic-font);
	font-weight: var(--s-text-weight);
	font-size: var(--s-text-size);
	color: var(--primary-text);
}

.blog-post__link {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: transparent;
}
