.code {
	padding: 0;
	margin: 0;
}

.code__css {
	color: #f5d67b;

	& .code__selector {
		color: #f5d67b;
	}

	& .code__punctuation {
		color: #72e0d1;
	}

	& .code__property {
		color: #72e0d1;
	}

	& .code__number {
		color: #fc9463;
	}
}
