.code {
	overflow: auto;
	margin: 0;
	padding: 0;
	min-width: 100%;
	position: relative;
}

.code__css {
	color: #f5d67b;

	& .selector {
		color: #f5d67b;
	}

	& .punctuation {
		color: #72e0d1;
	}

	& .property {
		color: #72e0d1;
	}

	& .number {
		color: #fc9463;
	}

	& .var {
		color: #aa7ee1;
	}

	& .parent {
		color: #e90;
	}

	&::after {
		content: 'CSS';
		position: absolute;
		top: 0;
		right: 5px;
		font-style: normal;
		font-weight: 700;
		font-size: 10px;
	}
}

.code__html {
	& .tag {
		color: #72e0d1;
	}

	& .attr-name {
		color: #83ba52;
	}

	& .attr-value {
		color: #f5d67b;
	}

	& .punctuation {
		color: #72e0d1;
	}

	&::after {
		font-style: normal;
		font-weight: 700;
		font-size: 10px;
		content: 'HTML';
		position: absolute;
		top: 0;
		right: 5px;
		color: #f5d67b;
	}
}
