.code {
	margin: 0;
	padding: 0;
	min-width: 100%;
	overflow: auto;
}

.code__css {
	color: #f5d67b;

	& .code__selector {
		color: #f5d67b;
	}

	& .code__punctuation {
		color: #72e0d1;
	}

	& .code__property {
		color: #72e0d1;
	}

	& .code__number {
		color: #fc9463;
	}
}
