@import '../../variables/variables.scss';

.banner {
	padding: 33px var(--safe-side-paddings) 60px var(--safe-side-paddings);
}

.banner__wrap {
	display: grid;
	grid-column-gap: 100px;
	grid-row-gap: 40px;
	grid-template-areas:
		'title avatar'
		'info avatar'
		'button avatar';
	grid-template-columns: 1fr 300px;
	grid-template-rows: repeat(3, min-content);

	@media (max-width: $tablet-width) {
		grid-template-columns: 1fr;
		grid-template-areas:
			'avatar'
			'title'
			'info'
			'button';
		grid-template-rows: repeat(4, max-content);
		justify-items: center;
		grid-row-gap: 0;
	}
}

.banner__title {
	grid-area: title;
	font-family: var(--basic-font);
	font-weight: var(--xxl-title-weight);
	font-size: var(--xxl-title-size);
	line-height: 60px;
	color: var(--primary-text);

	@media (max-width: $tablet-width) {
		text-align: center;
		padding-bottom: 35px;
	}
}

.banner__info {
	grid-area: info;
	font-family: var(--basic-font);
	font-weight: var(--s-text-weight);
	font-size: var(--s-text-size);
	color: var(--primary-text);

	@media (max-width: $tablet-width) {
		text-align: center;
		padding-bottom: 27px;
	}
}

.banner__download-resume {
	grid-area: button;
	border: none;
	border-radius: 2px;
	padding: 5px 17px;
	width: max-content;
	font-family: var(--basic-font);
	font-weight: var(--l-fat-text-weight);
	font-size: var(--l-fat-text-size);
	text-transform: capitalize;
	color: var(--white-text);
	background-color: var(--important-item-color);
	transition: all 0.1s ease;
	cursor: pointer;

	&:hover {
		background-color: var(--hover-item-color);
	}
}

.banner__avatar {
	display: flex;
	grid-area: avatar;
	border-radius: 50%;
	width: 300px;
	height: 300px;
	box-shadow: var(--shadow);
	object-fit: cover;

	@media (max-width: $tablet-width) {
		width: 250px;
		height: 250px;
		margin-bottom: 37px;
	}

	@media (max-width: $mobile-width) {
		width: 200px;
		height: 200px;
	}
}
