.body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: min-content 1fr min-content;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: var(--primary-text);
	background-color: var(--bg);

	&--scrolloff {
		overflow: hidden;
	}
}
