.body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content 1fr max-content;
	margin: 0;
	padding: 0;
	color: var(--primary-text);
	background-color: var(--bg);

	&--scrolloff {
		overflow: hidden;
	}
}
