.footer {
	width: 100%;
	background-color: var(--bg);
	padding: 50px var(--safe-side-paddings);
}

.footer__wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 25px;
}

.footer__social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 35px;
}

.footer__social-item {
	height: 30px;
	width: 30px;
}

.footer__social-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
}

.footer__copyright {
	font-family: var(--basic-font);
	font-size: var(--footer-copyright-size);
	font-weight: var(--footer-copyright-weight);
	color: var(--primary-text);
}

.footer__social-icon {
	& path {
		fill: var(--primary-text);
	}

	&:hover path {
		fill: var(--footer-sosial-icon-hover);
	}
}
