@import '../variables/variables.scss';

.header {
	padding: 30px var(--safe-side-paddings);
	width: 100%;
	z-index: $z-index-header;
}

.header__wrap {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 40px;
}
