:root {
	/* main colors */
	--bg: #0e0e0e;
	--second-bg: #0b0f15;

	--primary-text: #efefef;
	// --secondary-text: #8695a4;
	// --white-text: #ffffff;
	// --link-text: #00a8cc;
	// --overlay: #122840;

	--primary: #03dac6;
	--secondary: #6200ee;
	--current-item-color: #ff6464;

	/* test colors */
	--navigation-link-color: #ffffff;
	--navigation-link-hover-color: var(--primary);
	--navigation-link-active-color: var(--current-item-color);

	--shadow: 0.3rem 0.3rem 0.8rem rgb(0 0 0 / 51%), -0.3rem -0.3rem 0.8rem rgb(255 255 255 / 5%);
	--inner-shadow: inset 0.2rem 0.2rem 0.5rem rgb(0 0 0 / 51%),
		inset -0.2rem -0.2rem 0.5rem rgb(255 255 255 / 5%);
}

/* Switcher */

.theme-switcher__radio {
	filter: invert(1);
}

.theme-switcher__radio:checked {
	filter: invert(0);
}

.theme-switcher__status {
	filter: invert(1);
}
