:root {
	/* BG and Overlays */
	--bg: #F6F6F8;
	--second-bg: #EDF7FA;
	--overlay: #FFFFFF;
	--surface: #142850;
	--open-nav-overlay: rgb(255 255 255 / 60%);
	--code-bg: #1B1B1B;

	/* Text colors */
	--primary-text: #2A2A2A;
	--secondary-text: #8695A4;
	--white-text: #FFFFFF;
	--dark-text: #000000;
	--link-text: #00A8CC;

	/* Other */
	--decor-color: #E0E0E0;

	/* main */
	--primary: #03DAC6;
	--secondary: #6200EE;
	--attention: #FF6464;

	/* items */
	--navigation-link-color: var(--dark-text);

	/* some items */
	--important-item-color: var(--attention);
	--hover-item-color: var(--secondary);
	--current-item-color: var(--attention);

	/* shadows */
	--shadow: 0.3rem 0.3rem 0.9rem #C8D0E7, -0.2rem -0.2rem 0.8rem #FFFFFF;
	--inner-shadow: inset 0.2rem 0.2rem 0.5rem #C8D0E7, inset -0.2rem -0.2rem 0.5rem #FFFFFF;
}

/* Switcher */

.theme-switcher__radio {
	filter: invert(0);
}

.theme-switcher__radio:checked {
	filter: invert(1);
}

.theme-switcher__status {
	filter: invert(0);
}
