:root {
  //main/basic colors
  --main-color: #f73859;
  --back-color: #EBECF0;
  --standart-text-color: #1D2127;
  --sub-text-color: #465162;
  //menu
  --menu-item-hover-color: rgba(209,213,219, 0.9);
  --menu-mobile-overlay-color: rgba(224,229,236,0.95);
  //inner data block
  --inner-data-n1-color: #ddf6df;
  --inner-data-n2-color: #e9e7fd;
  --inner-data-n3-color: #fee4cb;
  --inner-data-n4-color: #ffd3e2;
  --inner-data-n5-color: #c8f7dc;
  --inner-data-n6-color: #d5deff;
  //scrollBar colors
  --scrollbar-thumb-color: #888686;
  --scrollbar-hover-color: #555;
  //TABLE COLORS
  --main-table-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6),
  -9px -9px 16px rgba(255, 255, 255, 0.6);
  --main-table-head-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6);

  --dropdown-crumbs-shadow: 6px 6px 14px 4px #9d9d9d,
  -4px -4px 10px rgb(195 193 198 / 10%);

  --shadow: .3rem .3rem .9rem 	#c8d0e7,
  -.2rem -.2rem .8rem #ffffff;
  --inner-shadow: inset .2rem .2rem .5rem #c8d0e7,
  inset -.2rem -.2rem .5rem #ffffff;

  //BUTTONS SHADOWS
  --button-shadow: 0.3rem 0.3rem 0.5rem rgb(195 193 198 / 90%),
  -0.2rem -0.2rem 0.4rem #fff;;
  --button-inner-shadow: inset 0.2rem 0.2rem 0.5rem rgb(195 193 198 / 90%),
  inset -0.2rem -0.2rem 0.5rem #fff;
  //INPUTS SHADOW
  --colored-inner-shadow: inset 0.2rem 0.2rem 0.5rem rgb(195 193 198 / 90%),
  inset -0.2rem -0.2rem 0.5rem #fff;
  --colored-shadow: 0.3rem 0.3rem 0.5rem rgb(195 193 198 / 90%),
  -0.2rem -0.2rem 0.4rem #fff;
  //NOTIFICATION SHADOW
  --notification-shadow: 10px 10px 15px rgb(195 193 198 / 50%),
  -4px -4px 20px #fff;


  --data-list-color: #ffffff;
  --crumbs-arrow-color: #7D8597;
}

/* Switcher */

.theme-switcher__radio {
  filter: invert(0);
}

.theme-switcher__radio:checked {
  filter: invert(1);
}

.theme-switcher__status {
  filter: invert(0);
}
